body{

    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {


    width: 100%;
    opacity: 0.7;
    display: block;

}

.banner-image {
    width: 100%;

    display: block;

}

.main-form {

    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;

}

.main-form h1 {

    font-size: 40px;
    margin-bottom: 50px;
    padding: 13px 0;
}

.footer {

    position: left;
    clear: both;
    color: white;
    opacity: 0.8;
    background-color: darkslategrey;
    text-align:center;
    height: 50px;
    line-height: 50px;
    font-size: 80%;
    margin-left:-100%;
    margin-right:-100%;
}

.cases-image {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

covid-title {

    font-size: 50px;
    text-align: center;
    font-family: "American Typewriter";

}